.mobile {
    background-color: white;
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 22px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile-choice {
    font-size: 20px;
    margin: 12px 0px;
    display: flex;
}

.mobile-choice a{
    text-decoration: none;
    color: #89A236;
    display: flex;
}